<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue">Angular Crud</h1>
        <div class="d-flex">
            <button (click)="clickAddEmployee()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add Employee</button>
        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email ID</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Salary</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let employee of employeeData">
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.mobile}}</td>
            <td>{{employee.salary}}</td>
            <td>
                <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info" (click)="editEmployee(employee)">Edit</button>
                <button class="btn btn-danger ml-2" (click)="deleteEmployee(employee)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
 <form [formGroup]="formValues">     
<div class="mb-3">
  <label for="" class="form-label">First Name</label>
  <input type="text" formControlName="firstName" class="form-control" id="" placeholder="First Name">
</div>
  <div class="mb-3">
  <label for="" class="form-label">Last Name</label>
  <input type="text" formControlName="lastName" class="form-control" id="" placeholder="Last Name">
</div>
  <div class="mb-3">
  <label for="" class="form-label">Email ID</label>
  <input type="email" formControlName="email" class="form-control" id="" placeholder="Email Address">
</div>
  <div class="mb-3">
  <label for="" class="form-label">Mobile No</label>
  <input type="text" formControlName="mobile" class="form-control" id="" placeholder="Phone no">
</div>
  <div class="mb-3">
  <label for="" class="form-label">Salary</label>
  <input type="number" formControlName="salary" class="form-control" id="" placeholder="Amount">
</div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel">Close</button>
        <button type="button" class="btn btn-primary" *ngIf="showAddEmployee" (click)="addEmployee()">Add</button>
        <button type="button" class="btn btn-primary" *ngIf="showEditEmployee" (click)="updateEmployee()">Update</button>
      </div>
    </div>
  </div>
</div>